@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&family=Libre+Baskerville:wght@700&family=Lobster&family=Poppins:wght@500;700&family=Roboto:wght@400;900&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}